

/* -----------------For Mn:Width 1000px--------------- */

@media only screen and (min-width:1000px) {
    .footer{
        padding-top: 1rem;
    }


    .first p{
        font-size: 40px;
    }

    .main img{
        height: 96vh;
    }
   
    .firstright img {
        height: 14rem;
    }

.firstsec{
    height: 50vh;
    align-items: center;
}


.firstright video {
    position: absolute;
    width: 211px;
    height: 119px;
    left: 44px;
    top: 48px;
}

.secondleft img {
    height: 38vh;
}

    h1{
        font-size: 24px;
        margin-bottom: 1rem;
    }
    
    span{
        font-size: 13px;
    }




}




@media only screen and (max-width:999px) {
    

    
    .first p{

        width: 90vw;
        display: flex;
        font-size: 30px;
        justify-content: center;
        margin: auto;
    }
    
    .main img{
        height: 94vh;

    }

    .firstsec{
        height: 33vh;
        
    }
    .secondsec{
        height: 36vh;

    }
    .thirdsec{
        height: 33vh;

    }
    .fourthsec{
        height: 33vh;

    }

    .contactsection{
        height: 15vh;
    }


   .firstright img {
        height: 17rem;
    } 

    .firstright video{
    position: absolute;
        width: 248px;
        height: 149px;
        left: 62px;
        top: 57px;
    }
        
    
    h1{
        font-size: 25px;
        margin-bottom: 1rem;
    }
    
    span{
        font-size: 15px;
    }

    .secondleft img {
        height: 29vh;
    }

    .fourthleft img {
        height: 25vh;
    }
    .seperator1 {
        margin-top: 6rem;
        margin-bottom: 3rem;
    }



h2 {
    font-size: 27px;
}

.faqbox {
    padding: 15px 5px 15px 5px; 
    font-size: 20px;
}

.emailsection input {
    padding: 15px 50px 15px 14px;
    font-size: 12px;
}

.emailsection button {
    padding: 8px 16px 8px 16px;
    font-size: 15px;
    
}

}

/* -----------------For Mx:Width 661px--------------- */
@media only screen and (max-width:661px) {
    .main img{
        height: 93vh;
    }
}

/* -----------------For Mx:Width 675px--------------- */


@media only screen and (max-width:675px) {
    
   .first p{
    width: 90vw;
    display: flex;
    font-size: 27px;
    justify-content: center;
    margin: auto;

   }

   .second{
    font-size: 14px;

   }
   .third{
    font-size: 12px;

   }
    
   .email{
    flex-direction: column;
   }

   .email input{
    margin: 20px 0px 10px 0px;
   }

   .nav img {
    height: 30px;
}

.nav button {
    font-size: 9px;
    background-color: red;
    color: white;
    border-color: transparent;
    padding: 6px 9px;
    border-radius: 2px;
}

   .main img{
    height: 91.5vh;
   }

   .firstright img {
    height: 14rem;
}

.firstright video {
        position: absolute;
        width: 211px;
        height: 149px;
        left: 42px;
        top: 34px;
    }

span {
        font-size: 14px;
    }

    h1 {
        font-size: 21px;
    }
    
    .emailsection input {
        margin: auto;
        width: 50vh;
        margin-bottom:15px;
       
    }

    .emailsection button {
        
        margin: auto;
        width: 23vw;
        padding: 8px 16px 8px 16px;
        font-size: 15px;
    }

    .emailsection  {
        flex-direction:column;
       
    }



 



}



/* -----------------For Mx:Width 610px--------------- */


@media only screen and (max-width:610px) {
    .first p{

        font-size: 23px;

    
       }

       .third{
        font-size: 12px;
       }

       .main img{
         height: 90.5vh;
       } 

       .faqbox {
        padding: 12px 5px 12px 5px;
        font-size: 13px;
    }

    .emailsection input {
        width: 44vh;
    }

    .emailsection button {
        width: 17vw;
        padding: 6px 13px 6px 13px;
        font-size: 9px;
    }

}
.email button {
    background-color: red;
    color: white;
    border-color: transparent;
    padding: 10px 24px 10px 24px;
    border-radius: 2px;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 15px;
}





/* -----------------For Mx:Width 541px--------------- */


 @media only screen and (max-width:541px) {

    .nav{
        align-items: center;
    }

    .nav img {
        height: 21px;
    }
    .nav button {
        font-size: 7px;
        background-color: red;
        color: white;
        border-color: transparent;
        padding: 4px 8px;
        border-radius: 2px;
    }


    .first p{
   
        font-size: 20px;

       }

       .third{
        font-size: 8px;
       }

       .main img {
        height: 89.5vh;
    }

    .firstsec {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 25vh;
    }
    .firstleft {
        width: 68vw;
    }
    .firstright img {
        height: 10rem;
    }
    .firstright video {
        position: absolute;
        width: 152px;
        height: 149px;
        left: 31px;
        top: 3px;
    }

    .secondsec{
        flex-direction: column;
        height:40vh;
    }

    .secondleft img {
        height: 25vh;
        margin-bottom:1rem;
    }

    .secondright {
        width: 45vw;
    }

    .thirdsec{
        flex-direction: column;
    }
    .thirdsec{
        flex-direction: column;
    }
    .fourthsec{
        flex-direction: column;
        height: 40vh;
        
    }

    .fourthright {
        width: 46vw;
    }

    span{
        font-size:13px;
    }
    h1{
        font-size:18px;
    }

    .faqbox img {
        height: 1rem;
        width: 1rem;
    }

    .faqbox {
        width: 65vw;
    }

    h2 {
        font-size: 23px;
    }
    span {
        font-size: 10px;
    }
    .emailsection input {
        width: 27vh;
    }
    .emailsection button {
        width: 23vw;
    }
    .secondleft img {
        height: 22vh;
        margin-bottom: 1rem;
    }
    .secondright {
        width: 49vw;
    }
    .thirdsec {
        height: 21vh;
    }

}


/* -----------------For Mx:Width 440px--------------- */


@media only screen and (max-width:440px) {
    .first p {
        font-size: 16px;
    }
    .second {
        font-size: 10px;
    }
    .email input {
        font-size: 8px;
        width: 12vw;
        margin: 20px 0px 10px 0px;
    }
    .email button {
        background-color: red;
        color: white;
        border-color: transparent;
        padding: 8px 16px 8px 15px;
        border-radius: 2px;
        margin-left: 5px;
        font-weight: bolder;
        font-size: 9px;
    }
    .main img {
        height: 87.5vh;
    }
    .thirdleft {
        width: 40vw;
    }

    .fourthsec {
          height: 45vh;
    }
    .thirdsec {
        height: 15vh;
    }





}




/* -----------------For Mx:Width 400px--------------- */

@media only screen and (max-width:400px) {
  
    .first p {
        font-size: 13px;
    }
    .second {
        font-size: 7px;
    }
    .third {
        font-size: 7px;
    }
    .main img {
        height: 85.5vh;
    }
    .emailsection button {
        width: 31vw;
    }
    .thirdsec {
        height: 21vh;
    }

















}
/* -----------------For Mx:Width 350px--------------- */


@media only screen and (max-width:350px) {
    h2 {
        font-size: 18px;
    }


    .fourthright {
        width: 56vw;
    }
    .secondsec {
        flex-direction: column;
        height: 42vh;
    }
    .thirdsec {
        height: 23vh;
    }

}



























